packages/*/*
*/obj/*
*/bin/*
.docstates.suo
.metadata/*


*/bin
*obj
bin/
*.dbmdl
*Database.dbmdl
TickboxDatabase/TickboxDatabase.dbmdl
TickBox.v12.suo
gwt-unitCache
TickboxDatabase/TickboxDatabase.dbmdl
