html { font-family: 'Ubuntu', sans-serif; }

body { background: #fff; }

a {
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.901961) 0px 1px 1px;
}

a:hover { text-decoration: underline; }

#content {
    font-size: 0.75em;
    font-weight: 400;
    margin-left: 0.5em;
    padding-right: 2em;
    padding-top: 3.1em;
    position: relative;
    z-index: 2;
}

#logo {
    float: left;
    margin-left: 0.7em;
    margin-top: 0.7em;
}

.pageMargin {
    background: rgb(230, 230, 230);
    position: fixed;
    z-index: 1;
}

#topMargin {
    height: 1.5em;
    left: 0px;
    min-width: 600px;
    right: 0px;
    top: 0px;
    z-index: 3;
}

#leftMargin {

    bottom: 0px;
    left: 0px;
    top: 0px;
    width: 9em;
    z-index: 4;
}

#rightMargin {
    bottom: 0px;
    right: 0px;
    top: 0px;
    width: 1.5em;
}

#mainMenu a {
    color: #000;
    font-size: 0.8em;
    font-weight: 500;

    padding: 5px 10px;
}

#mainMenu {
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    display: inline-block;
    margin-left: 2em;
    padding: 10px;
    padding-top: 0;
    position: fixed;
    text-shadow: rgba(255, 255, 255, 0.901961) 0px 1px 1px;
    top: 0.55em;
    transition: all 0.2s;
    z-index: 800;
}

#mainMenu:hover { top: 2.25em; }

#mainMenu ul {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 4px;
    text-align: left;
}

#mainMenu ul li {
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    background: rgb(230, 230, 230);
    cursor: pointer;
    display: inline-block;
    margin-right: -4px;
    padding: 7px 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    transition: all 0.2s;
}

#mainMenu ul li:hover { background: rgb(200, 200, 200); }

#mainMenu > ul > li:first-child {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#mainMenu > ul > li:last-child {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
  

#mainMenu ul li ul {
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    -webkit-transiton: opacity 0.2s;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    display: none;
    left: 0;
    opacity: 0;
    padding: 0;
    padding-right: 4px;
    position: absolute;
    top: 37px;
    visibility: hidden;
    white-space: nowrap;
    width: auto;
    z-index: -1;
}

#mainMenu ul li ul li {
    background: rgb(200, 200, 200);
    display: block;
    text-shadow: rgba(255, 255, 255, 0.901961) 0px 1px 1px;
}

#mainMenu ul li ul li:hover { background: rgb(180, 180, 180); }

#mainMenu ul li:hover ul {
    display: inline-block;
    opacity: 1;
    visibility: visible;
}

#headerRibbon {
    -moz-box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.5);
    background: #2D5B86;
    box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.5);
    height: 2em;
    left: 1.5em;
    position: fixed;
    right: 0.5em;
    top: 0.25em;
    z-index: 900;
}

#header .triangle-r {
    border-color: transparent transparent transparent #495E72;
    border-style: solid;
    border-width: 1em;
    height: 0;
    position: fixed;
    right: -0.5em;
    top: 1.25em;
    width: 0;
    z-index: 4;
}



#headerContent {
    display: inline-block;
    font-weight: 800;
    height: 5px;
    margin-left: 1em;
    margin-top: 0.2em;
    text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px;
}


#headerContent a {
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    color: rgb(230, 230, 230);
    text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px;
    transition: all 0.5s;
}

#pageTitle {
    color: rgb(230, 230, 230);
    display: inline-block;
    height: 5px;
}

#pageTitle .appTitle {
    display: inline-block;
    font-size: 1.4em;
}

#pageTitle .title * {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 0;
}

#pageTitle .pageControls {
    font-size: 0.8em;
    font-weight: 400;
    position: absolute;
    right: 1.1em;
    text-align: right;
    top: 0.6em;
}

#pageTitle .pageControls span { padding-left: 5px; }

#messageControls {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;

    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    background: #666;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    bottom: -4;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    display: inline-block;
    margin-right: 5px;
    padding: 7px;
    position: absolute;
    right: 15px;
    text-align: center;
    z-index: 900;
}

#messageControls a {
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    color: rgb(230, 230, 230);
    text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px;
    transition: all 0.5s;  
}

#pageMessageContainer {
    bottom: 2px;
    font-size: 0.75em;
    font-weight: 400;
    margin-top: 3.5em;
    position: fixed;
    right: 0.75em;
    text-align: center;
    top: 0;
    z-index: 80;
}

#pageMessageWrap {
    bottom: 0px;
    height: 100%;
    left: 0px;
    margin-top: 15px;
    overflow-y: none;
    padding-bottom: 25px;
    position: relative;
    right: 0px;
    text-align: right;
    top: -10px;
}

#pageMessageWrap li:last-child { margin-bottom: 35px; }

#pageMessageContainer > div::-webkit-scrollbar {
    margin-left: 3px;
    margin-top: 30px;
    width: 4px;
}

#pageMessageContainer > div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 4px;
}

#pageMessageContainer > div::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 4px;
}

#pageMessageContainer ul {
    list-style: none;
    margin: 0;
    overflow-y: auto;

    padding-right: 6px;
}

#pageMessageContainer ul li { }

.pageMessage div.messageWrap {
    -moz-border-radius: 3px;
    -moz-box-shadow: 0px 0px 6px #797979;
    -moz-box-shadow: 0px 0px 6px rgba(121, 121, 121, 0.7);
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0px 0px 6px #797979;
    -webkit-box-shadow: 0px 0px 6px rgba(121, 121, 121, 0.7);
    -webkit-transition: all 0.2s;
    border: 1px solid #797979;
    border: 1px solid rgba(121, 121, 121, 0.7);
    border-radius: 3px;
    box-shadow: 0px 0px 6px #797979;
    box-shadow: 0px 0px 6px rgba(121, 121, 121, 0.7);
    margin-top: 4px;
    max-width: 250px;
    padding: 3px;
    padding-top: 0px;
    position: relative;
    text-align: left;
    transition: all 0.2s;
}

.pageMessage div.messageWrap:hover {
    -moz-box-shadow: 0px 0px 6px #2d2d2d;
    -moz-box-shadow: 0px 0px 6px rgba(45, 45, 45, 0.7);
    -webkit-box-shadow: 0px 0px 6px #2d2d2d;
    -webkit-box-shadow: 0px 0px 6px rgba(45, 45, 45, 0.7);
    border: 1px solid #323232;
    border: 1px solid rgba(50, 50, 50, 0.7);
    box-shadow: 0px 0px 6px #2d2d2d;
    box-shadow: 0px 0px 6px rgba(45, 45, 45, 0.7);
    z-index: 800;
}

.pageMessage .titleWrap {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    font-weight: 500;
    margin-bottom: 4px;
    margin-left: 3px;
    margin-right: 20px;
    margin-top: 3px;
    position: relative;
}

.pageMessage .title { text-decoration: underline; }

.pageMessage .spacer {
    letter-spacing: 1px;
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: none;
}

.pageMessage .close {
    cursor: pointer;
    font-weight: 700;
    padding: 0.2em;
    position: absolute;
    right: 4px;
    top: 4px;
}

.pageMessage a { color: #2D5B86; }

div.error {
    background: #EBB5B5;
    color: #8A0101
}

div.info {
    background: rgb(255, 255, 153);
    color: rgb(0, 0, 0);
}

div.success {
    background: #98EBA3;
    color: #267800;
}

div.debug {
    background: #000;
    background: rgba(255, 255, 255, 1);
    color: #8416B8;
}

.pageMessage div a { margin-left: 5px; }


.pageMessage .message {
    font-weight: 400;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
}