<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TickBoxEntities" connectionString="metadata=res://*/Model.TickBox.csdl|res://*/Model.TickBox.ssdl|res://*/Model.TickBox.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tickbox.Core;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>